@use 'colors.scss';

.contact {
    color: colors.$gray;
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

.email {
    margin-top: 20px;
    color: colors.$lightcyan;
}